<div class="row">
    <div class="col-4"></div>
    <div class="card">
        <div class="row header">
            <h5>Registration Form</h5>
        </div>
        <form [formGroup]="regform">
            <input type="image" placeholder="click To Add Photo"><br>
            <label>FullName</label>
            <input type="text" class="form-control" formControlName="fname">
            <small class="text text-info" *ngIf="Fname.errors?.['required']&&(Fname.dirty||Fname.touched)">
                Enter your full name
            </small>
            <small class="text text-info" *ngIf="Fname.errors?.['pattern']&&(Fname.dirty||Fname.touched)">
                Enter Caps
            </small><br>
            <label class="">Mobile.no</label>
            <input type="number" class="form-control" formControlName="mobile">
            <!-- mobile.no Validations -->
            <small class="text text-info" *ngIf="Mobile.errors?.['required']&&(Mobile.dirty||Mobile.touched)">
                Enter your mobile number</small><br>

            <label>Email:</label>
            <input type="email" class="form-control" formControlName="email">
            <!-- email validations -->
            <small class="text text-info" *ngIf="Email.errors?.['required']&&(Email.dirty||Email.touched)">
Enter Email Id
            </small><br>

            <i class="fas fa-envelope"></i>
            <label>DOB:</label>
            <input type="datetime-local" class="form-control" formControlName="dob">
            <!-- dob validations -->
              <small class="text text-info" *ngIf="Dob.errors?.['required']&&(Dob.dirty||Dob.touched)">
            Select your Date of Birth
            </small><br>

            <label>Address:</label>
            <input type="text" class="form-control" formControlName="address">
            <!-- address validations -->
            <small class="text text-info" *ngIf="Address.errors?.['required']&&(Address.dirty||Address.touched)">
             Fill Address
            </small><br>
            
            <div class="input-group">
                <label>password:</label>
                <i class="fa fa-eye"></i>
                <input type="password" class="form-control" formControlName="password">
                
            </div>
            <small class="text text-info" *ngIf="Password.errors?.['required']&&(Password.dirty||Password.touched)">
                Enter Password
                 </small><br>
                 
            <input type="checkbox" style="width: 15px; height:15px" formControlName="cbox"><label>I Accept T&C</label><br>
            <small class="text text-info" *ngIf="Cbox.errors?.['required']&&(Cbox.dirty||Cbox.untouched)">
            Click to Accept
            </small><br>
            
            <button class="btn btn-outline-info" >Register</button>
        </form>
    </div>
</div>